In [1]:

!pip install apyori

Collecting apyori
  Downloading https://files.pythonhosted.org/packages/5e/62/5ffde5c473ea4b033490617ec5caa80d59804875ad3c3c57c0976533a21a/apyori-1.1.2.tar.gz
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-cp37-none-any.whl size=5975 sha256=24fdd1837c37499447887d6619fa05c6a8d823f7ac768d51265aadfb44836fe9
  Stored in directory: /root/.cache/pip/wheels/5d/92/bb/474bbadbc8c0062b9eb168f69982a0443263f8ab1711a8cad0
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [3]:
from google.colab import drive
drive.mount('/content/gd')

Mounted at /content/gd

In [9]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from apyori import apriori

In [4]:
pwd

'/content'

In [5]:
%cd ./gd/MyDrive/6240/

/content/gd/MyDrive/6240

In [6]:
pwd

'/content/gd/MyDrive/6240'

In [7]:
filename='data.csv'

In [11]:
store_data = pd.read_csv(filename, header=None, na_values=[''])

ParserError: ignored

In [110]:
from google.colab import files
files.upload()

Saving data.csv to data (5).csv

{'data.csv': b'Beef,Chicken,Milk,na,na\r\nBeef,Cheese,na,na,na\r\nCheese,Boots,na,na,na\r\nBeef,Chicken,Cheese,na,na\r\nBeef,Chicken,Clothes,Cheese,Milk\r\nChicken,Clothes,Milk,na,na\r\nChicken,Milk,Clothes,na,na'}

In [111]:
data = pd.read_csv('data.csv', header=None)

ParserError: ignored

In [114]:
dict_data ={
    'c_1':["Beef","Beef","Cheese","Beef","Beef","Chicken","Chicken"],
    'c_2':["Chicken","Cheese","Boots","Chicken","Chicken","Clothes","Milk"],
    'c_3':["Milk","na","na","Cheese","Clothes","Milk","Clothes"],
    'c_4':["na","na","na","na","Cheese","na","na"],
    'c_5':["na","na","na","na","Milk","na","na"]
}

In [115]:
store_data=pd.DataFrame(dict_data)
store_data=store_data.replace('na',np.NaN)

In [197]:
store_data

       c_1      c_2      c_3     c_4   c_5
0     Beef  Chicken     Milk     NaN   NaN
1     Beef   Cheese      NaN     NaN   NaN
2   Cheese    Boots      NaN     NaN   NaN
3     Beef  Chicken   Cheese     NaN   NaN
4     Beef  Chicken  Clothes  Cheese  Milk
5  Chicken  Clothes     Milk     NaN   NaN
6  Chicken     Milk  Clothes     NaN   NaN

In [503]:
records = []
print(len(store_data.c_1))
for i in range(0, len(store_data)):
    records.append([str(store_data.values[i,j]) for j in range(0, len(store_data.iloc[4,:]))])
records=[['Beef', 'Chicken', 'Milk'],
 ['Beef', 'Cheese'],
 ['Cheese', 'Boots'],
 ['Beef', 'Chicken', 'Cheese'],
 ['Beef', 'Chicken', 'Clothes', 'Cheese', 'Milk'],
 ['Chicken', 'Clothes', 'Milk'],
 ['Chicken', 'Milk', 'Clothes']]
records

7

[['Beef', 'Chicken', 'Milk'],
 ['Beef', 'Cheese'],
 ['Cheese', 'Boots'],
 ['Beef', 'Chicken', 'Cheese'],
 ['Beef', 'Chicken', 'Clothes', 'Cheese', 'Milk'],
 ['Chicken', 'Clothes', 'Milk'],
 ['Chicken', 'Milk', 'Clothes']]

In [504]:
??apriori

In [506]:
association_rules = apriori(records, 
                            min_support=0.3, 
                            min_confidence=0.8, 
                            # min_lift=1, 
                            min_length=2
                            )
association_results = list(association_rules)

In [507]:
print(association_rules)
print(len(association_results))
for i in range(0, len(association_results)):
    print(association_results[i][0])

<generator object apriori at 0x7f4160f570d0>
4
frozenset({'Chicken', 'Clothes'})
frozenset({'Milk', 'Chicken'})
frozenset({'Milk', 'Clothes'})
frozenset({'Milk', 'Chicken', 'Clothes'})

In [500]:
listRules = [list(association_results[i][0]) for i in range(0,len(association_results))] # extract the items
support = [association_results[i][1] for i in range(0,len(association_results))] # extract the Support s
relationRecords = [list(association_results[i][2]) for i in range(0,len(association_results))] # extract the records

In [494]:

records = [rec for rec in relationRecords]
confidence = [] # conf list
lift = [] # Lift list
for record in records:
  for aux in record:
    confidence.append(aux[2]) 
    lift.append(aux[3])
    break

In [495]:

# Creation of the dateframe resulting from the a priori model
association_data = pd.DataFrame({'labels': listRules, 'support': support,'confidence': confidence,'lift': lift})
association_data

                     labels   support  confidence  lift
0        [Chicken, Clothes]  0.428571         1.0  1.40
1           [Milk, Chicken]  0.571429         0.8  1.40
2           [Milk, Clothes]  0.428571         1.0  1.75
3  [Milk, Chicken, Clothes]  0.428571         1.0  1.75

In [488]:
for item in association_results:
    # first index of the inner list
    # Contains base item and add item
    pair = item[0]
    items = [x for x in pair]
    print("Rule: " + items[0] + " -> " + items[1])

    # second index of the inner list
    print("Support: " + str(item[1]))

    # third index of the list located at 0th
    # of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: Chicken -> Clothes
Support: 0.42857142857142855
Confidence: 1.0
Lift: 1.4
=====================================
Rule: Milk -> Chicken
Support: 0.5714285714285714
Confidence: 1.0
Lift: 1.4
=====================================
Rule: Milk -> Clothes
Support: 0.42857142857142855
Confidence: 1.0
Lift: 1.75
=====================================
Rule: Milk -> Chicken
Support: 0.42857142857142855
Confidence: 1.0
Lift: 1.75
=====================================

In [339]:
print(records)
association_rules = apriori(records, min_support=0.3
                        
                            )
association_results = list(association_rules)
print(association_rules)
print(len(association_results))
association_results

[[OrderedStatistic(items_base=frozenset({'Clothes'}), items_add=frozenset({'Chicken'}), confidence=1.0, lift=1.4)], [OrderedStatistic(items_base=frozenset({'Milk'}), items_add=frozenset({'Chicken'}), confidence=1.0, lift=1.4)], [OrderedStatistic(items_base=frozenset({'Clothes'}), items_add=frozenset({'Milk'}), confidence=1.0, lift=1.75)], [OrderedStatistic(items_base=frozenset({'Clothes'}), items_add=frozenset({'Milk', 'Chicken'}), confidence=1.0, lift=1.75), OrderedStatistic(items_base=frozenset({'Chicken', 'Clothes'}), items_add=frozenset({'Milk'}), confidence=1.0, lift=1.75), OrderedStatistic(items_base=frozenset({'Milk', 'Clothes'}), items_add=frozenset({'Chicken'}), confidence=1.0, lift=1.4)]]
<generator object apriori at 0x7f41610db350>
0

[]

                labels   support  confidence  lift
0               [Beef]  0.833333    0.833333   1.0
1             [Cheese]  0.500000    1.000000   1.5
2            [Chicken]  0.500000    1.000000   1.5
3            [Clothes]  0.500000    1.000000   1.5
4               [Milk]  0.500000    1.000000   2.0
5                [nan]  0.333333    1.000000   1.5
6       [Beef, Cheese]  0.333333    1.000000   1.5
7      [Chicken, Beef]  0.500000    1.000000   2.0
8          [nan, Beef]  0.333333    1.000000   1.5
9    [Chicken, Cheese]  0.333333    1.000000   1.5
10       [nan, Cheese]  0.333333    1.000000   2.0
11  [Chicken, Clothes]  0.333333    1.000000   2.0

In [107]:
dict_data =[
   ["Beef", "Chicken", "Milk"],
   ["Beef", "Cheese"],
   ["Cheese", "Boots"],
   ["Beef", "Chicken", "Cheese"],
   ["Beef", "Chicken", "Clothes", "Cheese", "Milk"],
   ["Chicken", "Clothes", "Milk"],
   ["Chicken", "Milk", "Clothes"]
]

In [108]:
result = list(apriori(transactions=dictdata, min_support=0.3, min_confidence=0.8)

SyntaxError: ignored

In [109]:
from apyori import apriori

data = [['豆奶','莴苣'],
['莴苣','尿布','葡萄酒','甜菜'],
['豆奶','尿布','葡萄酒','橙汁'],
['莴苣','豆奶','尿布','葡萄酒'],
['莴苣','豆奶','尿布','橙汁']]

result = list(apriori(transactions=data)

SyntaxError: ignored